data/videos*
data/images*
data/*jpg
data/dataset_default

data/dataset/train*
data/dataset/test*
data/dataset/valid*

data/dataset_v0/train*
data/dataset_v0/test*
data/dataset_v0/valid*

.vscode
py3*
ignore*
keys
.env
__pycache__
creds*
elapsed_time*